@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: rgb(230, 228, 228);
}
.sidedesign img {
    position: absolute;
    box-sizing: border-box;
    width: 500px;
    height: 660px;
}
.logodesign {
    position: relative;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    top: 150px;
    background: #000;
    opacity: 0.4;
}
.logodesign-content {
    position: absolute;
    top: 170px;
    left: 90px;
}
#logo {
    width: 70px;
    height: 70px;
}
.logo-text {
    position: absolute;
    font-family: Norse-Bold;
    font-size: 65px;
    font-weight: 300;
    font-style: normal;
    left: 80px;
    color: #fff;
}
.text {
    position: absolute;
    top: 50px;
    left: 550px;
}
.long-text {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}
.short-text {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-top: 15px;
}
.form-box {
    position: absolute;
    box-sizing: border-box;
    width: 900px;
    height: 270px;
    left: 500px;
    top: 200px;
    background: #fff;
}
.form-text {
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
    margin-left: 55px;
}
form {
    position: absolute;
    display: inline-block;
    left: 60px;
    top: 60px;
}
.first-side-form {
    position: absolute;
    display: grid;
    width: 300px;
}
.second-side-form {
    position: absolute;
    display: grid;
    width: 300px;
    left: 400px;
}
input[type=text] {
    width: 100%;
    padding: 05px 50px;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.submit-section {
   position: absolute;
   top: 225px;
   width: 500px;
}
input[type=submit] {
    width: 40%;
    background-color: #596D48;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login {
    color: #596D48;
    font-weight: 500;
}